* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("mountain-img.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.container {
    width: 80vw;
    max-width: 500px;
    min-width: 300px;
    height: 70vh;
    background-color: rgba(255, 165, 0, 0.3);
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 45px rgba(255, 165, 0, 0.9);

}

.clock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
   
}

.clock1 {
    flex: 0 0 55%;
}

.clock2 {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hrs, #mins {
    font-size: 8vw;
    line-height: 1;
}

#colon {
    font-size: 7vw;
    margin: 1vh 0;
}

#am-pm {
    font-size: 4vw;
    margin-top: 1vh;
}

#seconds {
    font-size: 3.5vw;
    margin-top: 0.5vh;
}

#date, #month {
    font-size: 3vw;
    margin: 0.5vh;
}

#year {
    font-size: 4vw;
    margin: 0.5vh;
}

#day {
    font-size: 4vw;
    margin: 0.5vh;
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 756px) and (max-width: 800px) {
    .container {
        width: 750px;
        margin: 10px auto;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90vw;
        height: auto;
        padding: 20px 0;
    }

    .clock1, .clock2 {
        flex: 1 1 100%;
    }

    #hrs, #mins {
        font-size: 12vw;
    }

    #colon {
        font-size: 10vw;
    }

    #am-pm, #seconds, #date, #month, #year, #day {
        font-size: 5vw;
    }
}

@media (max-width: 480px) {
    #hrs, #mins {
        font-size: 15vw;
    }

    #colon {
        font-size: 12vw;
    }

    #am-pm, #seconds, #date, #month, #year, #day {
        font-size: 6vw;
    }
}
